Makefile.in
Makefile
aclocal.m4
autom4te.cache
build-aux
configure
config.h.in
config.h
config.log
config.status
.dirstamp
.deps
stamp-h1
*~
*.o
*/nbproject/private

ejercicio1/src/puerta/puerta
ejercicio1/src/lanzador/lanzador
ejercicio1/src/finalizador/finalizador
ejercicio1/src/administrador/administrador
ejercicio1/ejercicio1*.tar.gz

ejercicio2/src/puerta/puerta
ejercicio2/src/lanzador/lanzador
ejercicio2/src/finalizador/finalizador
ejercicio2/src/administrador/administrador
ejercicio2/ejercicio2*.tar.gz
